<div class="container">
    <p><a class = 'btn btn-warning'
        href="{% url 'app1:escola-update' pk=escola_details.pk%}">
        Atualizar</a></p>

{% if not form.instance.pk %}
<h1> Cadastrar Escola </h1>
<form method="POST">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" class='btn btn-primary' value="Cadastrar">
</form>
{ %else% }
    <h1>Atualizar Escola</h1>
    <form method="POST">
        {{ form.as_p }}
        <input type = "submit" class='btn btn-primary' value='Atualizar'>
    </form>
{% endif %}