{% extends "jornadaapp.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row nebulous white cabecalho bordacabecalho">
        <div class="col-xs-1 d-flex align-items-center">
            <button class="btn btn-primary" style="width: 100px">Home</button>
        </div>
        <div class="col-xs-1 d-flex align-items-center">
            <button class="btn btn-primary" style="width: 100px">Voltar</button>
        </div>
        <div class="col-xs-1 d-flex align-items-center">
            <button class="btn btn-primary" style="width: 100px">Tela Atual</button>
        </div>
        <div class="col-xs-1 d-flex align-items-center">
            <button style="width: 100px">Gráficos</button>
        </div>
        <div class="col-xs-1 d-flex align-items-center">
            <button class="btn btn-primary" style="width: 100px">Alarmes</button>
        </div>
    </div>
    <div class="row body">
        <div class="col-xs-3 nebulous white bordamenuacesso mx-auto style">
            <h3>Menu Principal</h3>
            {% include 'jornadamenu.html' %}
        </div>
        <div class="col-xs-9 nebulous white bordaconteudodireita" style="background-image: url({% static 'imagens/planodefundo.png' %}); background-size: cover; background-position: center 10%;">
            <h3 style="background-color: rgba(255, 255, 255, 0.8)">Usipav - Usinagem de Asfalto Ltda</h3>

            {% if exibirCartoes %}
            <div class="row">
                {% for grafico in graficosData %}
                <div class="col-xs-4">
                    <div class="card" style="width: 32.11rem; height: 22.5rem">
                        <div class="card-body">
                            <h5 class="card-title">{{ grafico.titulo }}</h5>
                            <p class="card-text">{{ grafico.conteudo }}</p>
                            <div class="grafico-container">
                                <!-- Inclua seu código de gráfico aqui -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row rodape">
        <div class="bg-warning bordatempo">Previsão de Tempo:</div>
        <div class="col-xs-5 bg-warning bordaDireito">Direitos Reservados: UseIA Engenharia de Software</div>
        <div class="bg-warning bordausuario">Usuário:</div>
        <div class="bg-warning bordadatahora">Data/Hora:</div>
    </div>
</div>
{% endblock %}
