{% load static %}

<html>
<head>
    <title>jornada</title>
    <!-- Inclua seus arquivos CSS e JS aqui -->
</head>
<body>
    <div class="container-fluid">
        <div class="nebulous white cabecalho bordacabecalho">
            <div class="d-flex align-items-center">
                <button class="btn btn-primary" style="width:100px">Home</button>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-primary" style="width:100px">Voltar</button>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-primary" style="width:100px">Tela Atual</button>
            </div>
            <div class="d-flex align-items-center">
                <button style="width:100px">Gráficos</button>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-primary" style="width:100px">Alarmes</button>
            </div>
        </div>
    </div>
    <div class="nebulous white bordatempo">Previsão de Tempo:</div>
    <div class="nebulous white bordaDireito">Direitos Reservados: UseIA Engenharia de Software</div>
    <div class="nebulous white bordausuario">Usuário:</div>
    <div class="nebulous white bordadatahora">Data/Hora:</div>

    <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg">Produto número: 1</button>
        <button class="btn btn-secondary btn-lg">Produto número: 2</button>
        <button class="btn btn-primary btn-lg">Produto número: 3</button>
        <button class="btn btn-secondary btn-lg">Produto número: 4</button>
    </div>
</body>
</html>
