{% extends "jornadahome.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'caminho/para/sua/imagem1.jpg' %}" alt="Imagem 1">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de Formula</h5>
                    <p class="card-text"></p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'caminho/para/sua/imagem2.jpg' %}" alt="Imagem 2">
                <div class="card-body">
                    <h5 class="card-title">A Produzir</h5>
                    <p class="card-text">Material a Produzir...</p>
                </div>
                <div class "card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'caminho/para/sua/imagem3.jpg' %}" alt="Imagem 3">
                <div class="card-body">
                    <h5 class="card-title">Produzido</h5>
                    <p class="card-text">Material Produzido</p>
                </div>
                <div class "card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'caminho/para/sua/imagem4.jpg' %}" alt="Imagem 4">
                <div class="card-body">
                    <h5 class="card-title">Batelada</h5>
                    <p class="card-text">Batelada...</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>

        <div class="col">
            <div class "card">
                <img class="card-img-top" src="{% static 'caminho/para/sua/imagem5.jpg' %}" alt="Imagem 5">
                <div class="card-body">
                    <h5 class="card-title">Silos</h5>
                    <p class="card-text">Silos</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card">
                <img class="card-img-top" src="{% static 'caminho/para/sua/imagem6.jpg' %}" alt="Imagem 6">
                <div class="card-body">
                    <h5 class="card-title">Reservado</h5>
                    <p class="card-text">Reserva</p>
                </div>
                <div class "card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
